<div style="color:white; background-color: purple; padding: 10px; ">
  <h2 style="text-align:center; margin-top: 20px; ">PhoneBook</h2>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
  <router-outlet></router-outlet>
    </div>
    <div class="col-md-4"> <br /> 
      <img src="../assets/images/1.png" /> 
      <img src="../assets/images/2.png" />
      <img src="../assets/images/3.png" />
      <img src="../assets/images/4.png" />
      <img src="../assets/images/5.png" />
    </div>
  </div> <br /><br />
  <div>
    <footer><span class="text-danger"><strong>
          contacts!</strong></span></footer>
  </div>
</div>
